<h1>Kittens</h1>
<% @kittens.each do |kitten| %>
  name: <%= link_to kitten.name, kitten %>
  age: <%= kitten.age%>
  cuteness: <%= kitten.cuteness%>/10
  softness: <%= kitten.softness%>/10 <br>
<% end %>